<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272404400764-a4m4dj9jah7g6dhqpcibhs9ahfuluqk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272404400764-a4m4dj9jah7g6dhqpcibhs9ahfuluqk0</string>
	<key>API_KEY</key>
	<string>AIzaSyDMlVpXFsURPvjAKaQ087To3zBzzmKzls4</string>
	<key>GCM_SENDER_ID</key>
	<string>272404400764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Haulik.FarmersMarked</string>
	<key>PROJECT_ID</key>
	<string>farmer-s-marked-c6b8d</string>
	<key>STORAGE_BUCKET</key>
	<string>farmer-s-marked-c6b8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272404400764:ios:9061f3c9bbe371f89d17f9</string>
	<key>DATABASE_URL</key>
	<string>https://farmer-s-marked-c6b8d.firebaseio.com</string>
</dict>
</plist>